/node_modules
/public/hot
/public/storage
/public/.well-known
/public/sitemap.xml
/public/nginx.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject
/.idea
/auto_install.json
/install.sh
